*.aps
*.bak
*.cache
*.class
*.ear
*.exe
*.ilk
*.jar
*.lib
*.log
*.ncb
*.obj
*.opensdf
*.pch
*.pdb
*.sbr
*.sdf
*.sublime-*
*.suo
*.tlb
*.tlh
*.user
*.vspscc
*.war
*/bin/*
*_i.c
*_p.c
.metadata/*
Thumbs.db
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esult*
_ReSharper*/
obj/